html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: lightgrey;
}

body {
    margin: 0;
    padding: 1.2em;
    min-height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    background: white;
    border: thin solid grey;
    border-top: 0;
    /* sans-serif fonts are generally better readable for people with dyslexia */
    font-family: sans-serif;
    font-size: 1.15rem;
}

blockquote {
    background: lightyellow;
    padding: .1em;
    padding-left: 1em;
    margin-left: 0;
    margin-right: 0;
    display: flow-root;
    font-size: 1rem;
}

p {
    display: flow-root;
    line-height: 1.5em;
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
    text-decoration: none;
    color: black;
}

a.anchor-link {
    font-size: 0.9rem;
    vertical-align: middle;
    line-height: 1;
    margin: 0.2em;
    margin-left: -1.2em;
}

h1, h2, h3, h4, h5, h6, hr {
    clear: both;
}

hr {
    visibility: hidden;
}

ol, ul {
    display: flow-root;
}

ol li,
ul li {
    line-height: 1.5em;
}

ul li code, p code {
    background: ghostwhite;
    padding: 0.2em;
}

pre ol {
    display: block;
}

pre {
    float: left;
    margin-top: 0;
    margin-right: 1em;
    width: min(50%, 70ch);
    overflow-x: scroll;
}

nav#toc {
    background: white;
    border: 1px solid grey;
    padding-right: 1em;
}

@media only screen and (max-width: 720px) {
    body {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        border: 0;
    }
    pre {
        clear: both;
        float: none;
        width: min(95%, 70ch);
    }
}

li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
    list-style-type: decimal !important;
    line-height: normal;
}
