html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    /*background: cornflowerblue;*/
    /* Pattern/color from jsonnet.org
    background-image: url(https://jsonnet.org/img/isopattern.svg);
    background-size: 128px;
    background-color: #0064bd;*/
}

body {
    margin: 0;
    padding: 1.2em;
    min-height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    background: white;
    /*border: thin solid slategrey;*/
    border-top: 0;
    /* sans-serif fonts are generally better readable for people with dyslexia */
    font-family: sans-serif;
    font-size: 1em;
}

blockquote {
    background: lightyellow;
    padding: .1em;
    padding-left: 1em;
    margin-left: 0;
    margin-right: 0;
    display: flow-root;
    font-size: 1rem;
    border-left: 1em solid gold;
}

p {
    display: flow-root;
    line-height: 1.5em;
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
    text-decoration: none;
    color: black;
}

a.anchor-link {
    font-size: 0.9rem;
    vertical-align: middle;
    line-height: 1;
    margin: 0.5em;
    margin-left: -1.5em;
    color: slategrey;
}

h1, h2, h3, h4, h5, h6, hr {
    clear: both;
}

hr {
    visibility: hidden;
}

ol, ul {
    display: flow-root;
}

ol li,
ul li {
    line-height: 1.5em;
}

ul li code, p code {
    background: ghostwhite;
    padding: 0.2em;
}

pre ol {
    display: block;
}

pre {
    float: left;
    margin-top: 0;
    margin-right: 1em;
    width: min(50%, 70ch);
    overflow-x: scroll;
    border: 1px solid slategrey !important;
    clear: left;
}

nav#toc {
    background: white;
    border: 1px solid slategrey;
    padding-right: 1em;
}

span.nav a {
    display: inline-block;
    width: 5rem;
    height: 1.15rem;
    padding: 0.2em;
    text-decoration: none;
    border: 1px solid slategrey;
    line-height: 1.15rem;
    color: slategrey;
    text-align: center;
    font-size: 0.9rem;
}

span.nav.previous a {
    border-radius: 1em 0 0 1em;
}

span.nav.next a {
    border-radius: 0 1em 1em 0;
    color: white;
    background: slategrey;
}

footer, footer a{
    color: slategrey;
    text-align: center;
}

@media only screen and (max-width: 720px) {
    body {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        border: 0;
    }
    pre {
        clear: both;
        float: none;
        width: min(95%, 70ch);
    }
}

li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: ghostwhite !important;
}

ol.linenums {
    list-style: none;
    counter-reset: li;
}

ol.linenums li::before {
    content: counter(li);
    color: slategrey;
    display: inline-block;
    width: 1em;
    margin-left: -2em;
    padding-right: 0.5em;
    text-align: right;
}

ol.linenums li {
    counter-increment: li;
    line-height: normal;
}
